<!DOCTYPE html>
<html>
  <head>
    <style>
      @import url("https://website.saatvikrk.live/css/styles.css");
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
      @import url("https://website.saatvikrk.live/css/MainButtons.css");
    </style>
    <title>Saatvik Kambhampati</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>

  <body>
    <h1 style = "text-align: right">About Me</h1>
    <a href = "/home" class = "ghost-button" style = "position: absolute; top: 90px; left: 20px; font-family: 'Montserrat', sans-serif;">Home</a>
    <a href = "/projects" class = "ghost-button" style = "position: absolute; top: 90px; left: 240px; font-family: 'Montserrat', sans-serif;">Portfolio</a>
    <a href = "/aboutme" class = "ghost-button" style = "position: absolute; top: 90px; left: 460px; font-family: 'Montserrat', sans-serif;">About Me</a>
    <br/><br/>
    <h3>Hello.</h3>
    <p class = "text"><i>Hello! I'm a first year Electronics & Computer Engineering (BEng) student at Newcastle University. For A Levels, I studied Mathematics, Physics, and Computer Science. </i></p>

    <h3>Contact</h3>
    <a href = "https://www.linkedin.com/in/saatvik-k-3733871b8/" class = "text">My LinkedIn</a>
    <a href="https://github.com/SaatvikK" class = "text">My GitHub page</a>
  </body>
</html>