<!DOCTYPE html>
<html>
  <head>
    <style>@import url("http://localhost:3000/css/styles.css");</style>
    <title>SK: Projects</title>
  </head>

  <body>
    <h1 style = "text-align: center"><u>Portfolio</u></h1>
    <div style= "display: flex;">
      <p class = "text">All of these projects are on my 
        <a href = "https://github.com/SaatvikK?tab=repositories" class = "text">GitHub account</a></p>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div>
        <!-- SGMS -->
        <h3>
          <a href = "https://github.com/SaatvikK/Student-Grades-Management-System">Student Grades Management System</a>
        </h3>
        <p class = "text"><i><b style="font-weight: 1000;">Description:</b> 
          A C# console project that uses JSON files to store students grades for each subject and gives an average.
        </i></p>
        <img src = "http://localhost:3000/images/smgs_img.PNG" style = "border-radius: 10px;"/>
      </div>

      <div>
        <!-- Image Viewer -->
        <h3>
          <a href = "https://github.com/SaatvikK/Image-Viewer">Python/Tkinter Image Viewer</a>
        </h3>
        <p class = "text"><i><b style="font-weight: 1000;">Description:</b> 
          This is a Python project to view image when the user inputs a file path using a simple Tkinter UI.
        </i></p>
        <img src = "http://localhost:3000/images/IMG_Viewer_img.PNG" style = "border-radius: 10px;"/>      
      </div>
    </div>
  </body>
</html>